


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: url("./assets/coffee-beans-1223055_960_720.jpg");
    background-size: cover;
}

img {
    width: 22px;
    position: absolute;
    cursor:pointer;
}

