body {
    margin: 0;
    padding: 0;
}

#banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box;
    background-color: #f7f7f7;
}

#left {
    padding-top: 22px;
    padding-bottom: 20px;
    color: #222222;
    font-size: 20px;
    font-weight: 600;
}

#right {
    width: 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #222222;
}

#banner_img {
    width: 53px;
    height: 30px;
    border-radius: 7px;
}

#navbar {
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#logo {
    cursor: pointer;
}

#middle-section {
    cursor: pointer;
    width: 25%;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
}

#right-section {
    cursor: pointer;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search {
    cursor: pointer;
    font-size: 15px;
    color: white;
    background-color: #ff385c;
    padding: 5px;
    border-radius: 50%;
}

#week {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding-left: 10px;
    padding-right: 10px;
}

#acc {
    border: 2px solid #dddddd;
    border-radius: 15px;
    padding: 10px;
}

.categeory {
    display: flex;
    flex-direction: row;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: space-between;
    margin-top: 20px;
}

.categeory img {
    height: 24px;
    width: 24px;
}

.categeory>div {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    padding-left: 80px;
    padding-right: 80px;
    gap: 20px;
    margin-top: 20px;
}

.cards>div {
    /* border: 1px solid red; */
    position: relative;
    margin-bottom: 70px;
}


.cards img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
}


.star {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    color: #222222;
    font-weight: 600;
}

img+.star~p {
    /* color: red; */
    margin-top: -10px;
    padding-left: 5px;
    padding-right: 5px;
}

#heart {
    position: absolute;
    top: 20px;
    right: 20px;
}

.total-price-container {
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.total-price {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid rgb(180, 179, 179);
    height: 55px;
    border-radius: 10px;
    font-size: 20px;
}

.label {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 5px;
}



.fees {
    font-size: 14px;
    color: gray;
    border-left: 1px solid #7d7d7d;
    padding-left: 8px;
}

.chevron {
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
    margin: 1px 1px;
    margin-top: 2px;
}

.chevron i {
    color: black;
}

.footer {
    margin-top: 90px;
    background-color: rgb(236, 236, 236);
    padding: 10px 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footcontainer {
    max-width: 1200px;
    margin: 0 auto;
}



.footer-details {
    margin-top: 6px;
    font-size: 17px;
    display: flex;
    align-items: center;
}

.footer-details p {
    margin: 5px 0;
    color: black;
}

#book {
    position: absolute;
    bottom:80px;
    left: 20px;
    width: 60px;
    height: 60px;
    background:  #fcfbea;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

#book:hover{
    scale: 1.11;
    cursor: pointer;
}
#book img{
    width: 42px;
    height: 42px;
    overflow: hidden;
    border-radius: 50%;
}

#toggle{
    border-radius: 50%;
    font-size: 40px;
    margin-left: 30px;
    color: gray;
}